:root {
    --video-studio-app-accent-color: 0, 0, 255;
    --video-studio-app-mark-bg-color: 255, 255, 0;
    --video-studio-app-color: 59, 67, 81;
    --video-studio-app-background-color: 255, 255, 255;
    --video-studio-app-backdrop-color: 0, 0, 0;
    --video-studio-app-light-background-color: 225, 225, 225;
    --video-studio-app-success-color: 30, 180, 20;
    --video-studio-app-danger-color: 220, 53, 69;
    --video-studio-app-warning-color: 215, 215, 0;
    --video-studio-app-focus-box-shadow: 0 0 0 2px rgba(var(--video-studio-app-accent-color), 0.5);
}

::selection {
    background-color: rgba(var(--video-studio-app-accent-color), 0.2);
}

mark {
    background-color: rgb(var(--video-studio-app-mark-bg-color));
}

*, *:before, *:after {
    box-sizing: border-box;
}

*[class*="video-studio-"]:focus {
    box-shadow: var(--video-studio-app-focus-box-shadow);
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 1rem 0;
}

.video-studio-html {
    line-height: 1.4;
}

.video-studio-body {
    color: rgb(var(--video-studio-app-color));
    background: rgb(var(--video-studio-app-background-color));
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
}

.video-studio-app {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: relative;
    padding: 2rem 1rem 4rem;
}

.video-studio-app-container {
    max-width: 1200px;
    width: 100%;
    background: red;
    min-height: 100%;
}

@media (max-width: 768px) {
    .video-studio-app {
        padding: 0;
    }
}
